@model IEnumerable<ProyectoFinal.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <div class="row">
        <div class="col-8">
            <h3 class="text-dark "><strong>Lista de Usuarios</strong></h3>
        </div>

        <div class="col-4 text-right">
            <a asp-action="Create" class="btn btn-primary"><i class="fas fa-plus"></i> Crear Nuevo Usuario</a>
        </div>
    </div>

    <table class="table table-striped border mt-3">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Documento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.Raw("Correo")
                </th>
                <th>
                    @Html.Raw("Dirección")

                </th>

                <th>
                    @Html.Raw("Fecha de registro")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Documento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.FechaRegistro)
                    </td>
                    <td>
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.UsuarioId">Edit</a>
                        <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.UsuarioId">Details</a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.UsuarioId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {

        <script>
            $(document).ready(function () {
                alert('@Html.Raw(ViewBag.Mensaje)'); // Usa Html.Raw para evitar problemas de codificación

            });
        </script>

}
